<h1>Héroe
    <small>{{heroe.nombre}}</small>
</h1>
<hr>
<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger" routerLink='heroes'>
            <i class='fa fa-arrow-left'></i>
            Regresar
        </button>
    </div>

</div>

<div class="row animated fedeIn faster">
    <div class="col">
        <form action="" (ngSubmit)='guardar(formulario)' #formulario='ngForm'>
            <div class="form-group">
                <label for="">FireBase ID</label>
                <input type="text" [(ngModel)]="heroe.id" name="id" placeholder="FibreBase ID" class="form-control" disabled='disabled'>
                <small class="form-text text-muted">Este campo es autogerado</small>
            </div>
            <div class="form-group">
                <label for="">Nombre</label>
                <input type="text" [(ngModel)]="heroe.nombre" name="nombre" placeholder="Nombre del héroe" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="">Poder</label>
                <input type="text" [(ngModel)]="heroe.poder" name="poder" placeholder="Poder del héroe" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Estado</label>
                <br>
                <button *ngIf="heroe.estado" (click)="heroe.estado = false" class="btn btn-outline-success w-50" type="button">
                    <i class="fa fa-smile-wink"></i>
                    Vivo
                </button>
                <button *ngIf="!heroe.estado" (click)="heroe.estado = true" class="btn btn-outline-danger w-50" type="button">
                    <i class="fa fa-dizzy"></i>
                    Muerto
                </button>

            </div>
            <hr>
            <div *ngIf="!heroe.id" class="form-group text-center">
                <button class="btn btn-primary w-25" type="submit">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>
            <div *ngIf="heroe.id" class="form-group text-center">
                <button class="btn btn-warning w-25" type="submit">
                  <i class="fa fa-pen"></i>
                  Editar
              </button>
            </div>
        </form>
    </div>
</div>